.container header {
    text-align: center;
}
.container header h1 {

}
.container nav {
    background-color: #00000010;
}
.container ul {
    background-color: #ff8000;
    list-style: none;
    display: flex;
    flex-direction: row;
}
.container li a {
    position: relative;
    display: block;
    padding: 16px;
    width: 140px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
}
.container li a:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #183b75;
}
.container li ul {
    display: none;
}
.container li:hover ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    margin-left: 0px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    z-index: 1;
}